.more-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;

    overflow: visible;
    padding-bottom: 3rem;
}

.more-title {
    display: flex;
    display: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.more-title h1 {
    color: #023C59;
    margin-bottom: 2rem;
    margin-top: 0rem;
    font-family: "Acorn";
    font-size: 4rem;
}

.technologies {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-bottom: 3rem;
}

.techTitle {
    margin-bottom: 0.8rem;
    font-size: large;
}

.techItemsContainer {
    display: flex;
    gap: 1rem;
    margin-left: 0.4rem;
}

.techItems {
    padding: 0.3rem 0.7rem;
    background-color: rgb(235, 235, 235);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
}

.more-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.more-overview {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}

.more-description {
    text-align: justify;
    line-height: 1.8;
    max-width: 500px;
}

.more-images img {
    width: fit-content;
    max-width: 500px;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.more-tech-section-container {
    display: flex;
    gap: 4rem;

}

.more-tech-section-container li {
    text-justify: unset;
}

.link-to-more {
    margin: 3rem;
    width: max-content;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.692) 0px 1px 4px;
    border-radius: 15px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #023C59;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}



.link-to-more:hover {
    transform: translateY(-2px);
}

.link-to-more a {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: White;
    font-weight: 500;
    font-size: 2rem;
}