body.no-scroll {
    overflow: hidden;
}

.gallery {
    display: flex;
    gap: 3rem;
    margin: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gallery-item {
    height: 400px;
    width: 400px;
    background-color: #a3dcd4;
    border-radius: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: relative;
    transition: all 200ms ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.gallery-item:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 600;
    transform: translateY(-5px);
}

.gallery-item h3 {
    position: absolute;
    top: 70px;
    font-family: 'Acorn';
    font-size: 2rem;
    transition: all 200ms ease-in-out;
}

.gallery-item:hover h3 {
    top: 60px;
}

.gallery-item img {
    position: absolute;
    height: 300px;
    border-radius: 10px;
    bottom: -100px;
    transition: all 200ms ease-in-out;
}

.gallery-item:hover img {
    bottom: -50px;
}

.popUpItem {
    position: relative;
    backdrop-filter: blur(150px);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.popUpItem.visible {
    opacity: 1;
    transform: translateY(0);
}

.popUpItem.hidden {
    opacity: 0;
    transform: translateY(-20px);
}

.closeIcon {
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
    right: 1rem;
}

.iconCloseContainer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    backdrop-filter: blur(150px);
}


.popUpItem-container {
    background-color: white;
    border-radius: 20px 20px 0 0;
    height: calc(100% - 60px);
    padding: 1.5rem 0rem 1rem 0rem;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    position: relative;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}